<h1>Login</h1>

<form #f="ngForm"
    (ngSubmit)="onSubmit(f.value)">    
    <div>
        <div>
            <div>
                <label for="login-field">Login</label>
                <input type="text" id="login-field" placeholder="User login" name="login" ngModel />
            </div>

            <div>
                <label for="pass-field">Password</label>
                <input type="password" id="pass-field" placeholder="User password" name="pass" ngModel />
            </div>
        </div>
    </div>
</form>