<nav>
    <div>
        <!-- <a [routerLink]="['/login']">Login</a> -->
        <div class="nav-section">
            <img class="icon" src="./assets/images/map-placeholder.svg" />
            <label class="nav-info">Software Development Street 42</label>
        </div>
        <div class="nav-section">
            <div class="right">
                <img class="icon" src="./assets/images/smartphone-call.svg" />
                <label class="nav-info push-neighbour-right-little">123-456-789</label>

                <img class="icon" src="./assets/images/close-envelope.svg" />
                <label class="nav-info">yourmail@address.com</label>
            </div>
        </div>
    </div>
</nav>